<h1>My First Try Using Flask</h1>
<p>1. Flask is a Python Framework for designing web apps.</p>
<p>2. Python is an object-oriented computer programming language that was first designed by Dutchman Guido Van Russom.</p>
<p>3. HTML stands for HyperTestMarkupLanguage and is primarily used to design websites</p>
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 20%;">🍣</td>
<td style="width: 20%;">🍔</td>
<td style="width: 20%;">🍟</td>
<td style="width: 20%;">🌭</td>
<td style="width: 20%;">🥓</td>
</tr>
<tr>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
</tr>
<tr>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
</tr>
</tbody>
</table>